@{
    ViewData["Title"] = "Chi tiết sản phẩm";
}

<div class="container mt-3">
    <div class="row">
        <div class=" mb-4">
            <div class="card h-100 shadow-sm">
                <img src="https://hanoicomputercdn.com/media/product/82947_laptop_msi_thin_a15__b7uc_026vn_.jpg" class="card-img-top" alt="Product 1">
                <div class="card-body">
                    <h5 class="card-title">LAPTOP MSI THIN A15</h5>
                    <p class="card-text">
                        Thông số sản phẩm

                        CPU: CPU AMD Ryzen R5-7535HS
                        RAM: 8GB (1 x 8GB) DDR5 4800MHz (Còn trống 1 khe) (Tối đa 64GB)
                        Ổ cứng: 512GB NVMe PCIe SSD Gen4x4 (Nâng cấp thay thế)
                        VGA: NVIDIA® GeForce RTX™ 2050 Laptop GPU 4GB GDDR6
                        Màn hình: 15.6" FHD (1920x1080), 144Hz, IPS-Level, 45% NTSC, 65% sRGB
                    </p>
                    <p class="card-text"><strong>Giá gốc:</strong> 100000 VNĐ</p>
                    <p class="card-text"><strong>Giá thực tế:</strong> 800000 VNĐ</p>
                    <div class="p-3">
                        <h5 class="card-title">Thông tin sản phẩm</h5>
                        <p><strong>Giá:</strong> $100</p>
                        <p><strong>Quà tặng và ưu đãi:</strong> Miễn phí vận chuyển</p>
                        <p><strong>Số lượng:</strong> <input type="number" value="1" style="width: 60px;"></p>
                        <div class="d-flex gap-2">
                            <button class="btn btn-primary mb-2 fs-5 p-4 fw-bold mb-0">THÊM VÀO GIỎ HÀNG</button>
                            <button class="btn btn-success fs-5 p-4 fw-bold mb-0">ĐẶT MUA NGAY</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
